<%- include('partials/header') -%>
  <!-- Custom styles for this template -->
  <link href="css/login.css" rel="stylesheet">
  <body class="text-center">
    <main class="form-signin">
    <form action="/login" method="post" >
        <img class="mb-4" src="/img/logopp.png" alt="" width="300">
        <% if (loginError) { %>
            <div class="alert alert-danger" role="alert">
                <%= loginError %>
            </div>
        <% } %>
        <div class="form-floating">
            <input required name="username" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input required name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2024</p>
    </form>
    </main>
<%- include('partials/footer') -%>